<%- include("./partials/header"); -%>

    <h1>Home</h1>
    <p><%= homeContent %><a href="/compose">Compose your own!</a></p>

    <% posts.forEach(function(posts){ %>
        <h1><%=posts.title%></h1>
        <p><%=posts.content.substring(0, 100) + "..."%><a href="/posts/<%=posts.title%>">Read More</a></p>
    <% }); %>

<%- include("./partials/footer"); -%>